In [1]:
import mysql.connector as connector

# Task 1
Establish a connection with the Database

In [3]:
# Establish a connection
connection = connector.connect(user = 'little_lemon_dev', password = 'password', database = 'little_lemon_db')

# Task 2
Query the database to show all tables within the database.

In [4]:
cursor = connection.cursor()
cursor.execute('SHOW TABLES;')
for row in cursor.fetchall():
    print(row)
cursor.close()

('OrdersView',)
('bookings',)
('customers',)
('deliveries',)
('menu_items',)
('menus',)
('orders',)
('staff',)

True

# Task 3
Little Lemon need you to return specific details from your database. They require the full name and contact details for every customer that has placed an order greater than $60 for a promotional campaign.

In [6]:
cursor = connection.cursor()
cursor.execute("""
SELECT customers.id, customers.name, customers.phone_number, orders.total_cost
FROM orders INNER JOIN customers
ON orders.customer_id = customers.id
WHERE orders.total_cost > 60
""")
print(cursor.column_names)
for row in cursor.fetchall():
    print(row)
cursor.close()

('id', 'name', 'phone_number', 'total_cost')
(6, 'Hiroki Yamane', '666666', Decimal('250'))
(1, 'Vanessa McCarthy', '111111', Decimal('220'))
(3, 'Anna Iversen', '333333', Decimal('180'))
(5, 'Diana Pinto', '555555', Decimal('150'))
(4, 'Joakim Iversen', '444444', Decimal('120'))
(2, 'Marcos Romero', '222222', Decimal('80'))

True